<html>
  <head>
    <title>Page potins</title>
  </head>
  <body>
    <h1>Voici la page du potin n° <%= params['id'] %></h1>

  <p>
    Son auteur : <%= gossip.author %><br/>
    Le contenu du potin : <%= gossip.content %>
  </p>

  <a href="/"> Revenir à la page des potins </a>

  </body>
</html>